name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create .env file
        run: |
          cat <<EOF > .env
          DB_NAME=${{ secrets.DB_NAME }}
          DB_USER=${{ secrets.DB_USER }}
          DB_PASSWORD=${{ secrets.DB_PASSWORD }}
          DB_HOST=${{ secrets.DB_HOST }}
          DB_PORT=${{ secrets.DB_PORT }}

          BACKEND_PORT=${{ secrets.BACKEND_PORT }}
          FRONTEND_PORT=${{ secrets.FRONTEND_PORT }}

          VITE_API_URL=${{ secrets.VITE_API_URL }}
          EOF

      - name: Stop existing containers
        run: docker compose down || true

      - name: Build and start containers
        run: docker compose up -d --build

      - name: Cleanup unused images
        run: docker system prune -f
