
name: Deploy to EC2

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Build & deploy
        run: |
          docker compose down
          docker compose up -d --build
